<form action="/resend" method="POST" id="resendVerificationForm">
  <div class="alert alert-danger" role="alert">
      Please verify your e-mail. <button type="submit" class="btn btn-link p-0 m-0 d-inline align-baseline alert-link">Click here</button> to re-send verification mail.
  </div>
</form>