<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>
    <%= pageTitle %>
  </title>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body data-spy="scroll" data-target="#mainNavbar" id="homeSection">
  <!--Navbar starts-->
  <nav class="navbar navbar-dark p-1" id="mainNavbar">
    <div class="container" id="navbarContainer">
      <a href="/" class="navbar-brand">Codeception</a>
    </div>
  </nav>
  <!--Navbar ends-->

  <section>
    <div class="container">
      <div class="row mt-5">
        <!--Card with form starts-->
        <div class="col-sm col-md-5 offset-md-4 mt-5">
          <div class="card text-center text-dark rounded-0" id="resetCard">
            <div class="card-body">
              <h3>Reset your password</h3>
              <form action="/reset-password" method="POST" novalidate>
                <!--Remove novalidate later-->
                <div class="form-group mt-4">
                  <input type="password" class="form-control" placeholder="New Password" name="password" required>
                  <!-- <span class="font-weight-bold text-danger">Failed</span> -->
                  <!--For validation errors-->
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword"
                    required>
                </div>
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="resetToken" value="<%= resetToken %>">
                <input type="submit" value="Reset" class="btn btn-dark">
              </form>
            </div>
          </div>
        </div>
        <!--Card with form ends-->
      </div>
    </div>
  </section>
  <!--Home Section ends-->

  <script>
    $(document).ready(function () {
      const e = JSON.parse('<%- JSON.stringify(error) %>');
      $(`[name='${e.param}']`).addClass('is-invalid');
      $(`[name='${e.param}']`).after(`<div class="invalid-feedback">
            ${e.msg}
          </div>`);
    });

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>